# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-file.txt
.tox/
.coverage
.coverage.*
.benchmarks
.ipynb_checkpoints
# IDEs
.vscode/
.idea/
# Database files
*.db
*.sqlite3
# Streamlit
.streamlit/